/* Стили для бокового меню */
#sidebarMenu {
  min-height: 100vh; /* Высота на всю высоту вьюпорта */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для бокового меню */
  z-index: 1000; /* Устанавливаем z-index, чтобы меню было поверх основного контента */
}

.sidebar .nav-link {
  border-radius: 0; /* Убираем закругление углов */
  color: #333; /* Цвет текста */
}

.sidebar .nav-link:hover {
  background: #f8f9fa; /* Фон при наведении */
}

.sidebar .nav-link.active {
  background-color: #007bff; /* Фон для активной ссылки */
  color: white; /* Цвет текста для активной ссылки */
}
  